<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>牛X考试平台-404中心</title>
    <meta name="keywords" content="牛X测试平台,老师在线创建题库、在线创建试卷、邮件邀请学生考试">
    <meta name="description" content="牛X测试平台是一个完全响应式，基于Bootstrap3最新版本开发的扁平化平台，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">

    <link href="favicon.ico" th:href="@{static/pages/favicon.ico}" rel="shortcut icon"> 
    <link href="../bank/css/bootstrap.min.css" th:href="@{static/bank/css/bootstrap.min.css}" rel="stylesheet">
    <link href="../bank/css/font-awesome.min.css" th:href="@{static/bank/css/font-awesome.min.css}" rel="stylesheet">

    <link href="../bank/css/animate.min.css" th:href="@{static/bank/css/animate.min.css}" rel="stylesheet">
    <link href="../bank/css/style.min.css" th:href="@{static/bank/css/style.min.css}" rel="stylesheet">

</head>

<body class="gray-bg">
    <div class="middle-box text-center animated fadeInDown">
        <h1>404</h1>
        <h3 class="font-bold">页面未找到！</h3>

        <div class="error-desc">
            抱歉，页面好像去火星了~
            <form class="form-inline m-t" role="form">
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="请输入您需要查找的内容 …">
                </div>
                <button type="submit" class="btn btn-primary">搜索</button>
            </form>
        </div>
    </div>

    <script src="../bank/js/jquery.min.js" th:src="@{static/bank/js/jquery.min.js}"></script>
    <script src="../bank/js/bootstrap.min.js" th:src="@{static/bank/js/bootstrap.min.js}"></script>
    
</body>

</html>
