<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>牛X考试平台-题库主页</title>
    <meta name="keywords" content="牛X测试平台,老师在线创建题库、在线创建试卷、邮件邀请学生考试">
    <meta name="description" content="牛X测试平台是一个完全响应式，基于Bootstrap3最新版本开发的扁平化平台，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">

    <link href="favicon.ico" th:href="@{static/pages/favicon.ico}" rel="shortcut icon"> 
    <link href="../bank/css/bootstrap.min.css" th:href="@{static/bank/css/bootstrap.min.css}" rel="stylesheet">
    <link href="../bank/css/bootstrap.min.css" th:href="@{static/bank/css/font-awesome.min.css}" rel="stylesheet">

    <link href="../bank/css/bootstrap.min.css" th:href="@{static/bank/css/animate.min.css}" rel="stylesheet">
    <link href="../bank/css/style.min.css" th:href="@{static/bank/css/style.min.css}" rel="stylesheet">
    <link href="../bank/font-awesome/css/font-awesome.min.css" th:href="@{static/bank/font-awesome/css/font-awesome.min.css}" rel="stylesheet"  type="text/css"/>

    <style type="text/css">
        .marginLeftDiv{
            margin-left: 15px;
        }

        .collapse_a{
            color: rgb(103,106,108);
        }
    </style>

</head>

<body class="gray-bg">

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-2">
            <h2>我的题库</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="mybankhomepage.html" th:href="@{BankPageThy}">主页</a>
                </li>
                <li>
                    <strong>我的题库</strong>
                </li>
            </ol>
        </div>
        <div class="col-sm-4 col-sm-offset-4">
                <h2>当前题库  - <small id="currentBank" th:text="${bank.name}"></small></h2>
        </div>
    </div>

    <div class="wrapper wrapper-content">

        <!-- 题目位置 -->
        <div id="bankContainer" class="row">

            <!-- 这里放置题目，使用模板重构 -->
            <div class="col-sm-12">
                <div class="ibox float-e-margins" >
                    
                    <div th:each="question,questionStat: ${questionList}" th:switch="${question.typeid}" th:data-question-id="${question.id}">
                        
                    
                    <!-- 单选题 -->
                    <!-- 一道题，包含标题、选项（参考答案），解析 -->
                    <div th:case="0">
                    <!-- <div th:each="question,questionStat: ${questionList}" th:switch="${question.typeid}" th:case="0" th:data-question-id="${question.id}"> -->
                       <!-- 一道题开始 -->
                        <!-- 一道题开头标题栏 -->
                        <div class="ibox-title">
                            
                            <h5>
                                单选题
                            </h5>
                            <span class="label label-primary" style="margin-left: 20px" th:if="${null != question.backup4}" th:text="${'知识点-'+question.backup4}">
                                知识点-java
                            </span>

                            <span class="label label-warning" style="margin-left: 20px" th:if="${0 == question.difflevel}">
                                易
                            </span>

                            <span class="label label-success" style="margin-left: 20px" th:if="${1 == question.difflevel}">
                                中
                            </span>

                            <span class="label label-danger" style="margin-left: 20px" th:if="${2 == question.difflevel}">
                                难
                            </span>
                        </div>
                        <!-- 一道题开头标题栏结束 -->

                        <!-- 一道题主体内容 -->
                        <div class="ibox-content">
                            <!-- 题干部分 -->
                            <div>
                                <h3>
                                <span th:text="${questionStat.count+'.'}">
                                    题号
                                </span>
                                    <a class="collapse_a" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_1" th:href="@{'#collapse_'+${question.id}}" aria-expanded="true" aria-controls="#collapse_1" th:aria-controls="@{'#collapse_'+${question.id}}" th:text="${question.description}">
                                    </a>
                                </h3> 
                            </div>
                            <!-- 题干部分结束 -->
                            
                            <!-- 选项、答案区域 -->
                            <div class="panel row">
                                
                                <!-- 折叠区域 -->
                                <div id="collapse_1" th:id="@{'collapse_'+${question.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_1">
                                <!-- 选项部分+参考答案+题目解析 -->
                                <div class="panel-body col-sm-4">
                                    
                                    <!-- 所有选项 -->
                                    <div class="marginLeftDiv">
                                        
                                        <!-- 一个选项 -->
                                        <div th:each="choice : ${choiceMap[question.id]}">
                                            <label class="control-label text-right">
                                                <i class="fa fa-dot-circle-o fa-lg" aria-hidden="true" th:if="${#lists.contains(answerMap[question.id], choice.choiceid)}" ></i>
                                                <i class="fa fa-circle-o fa-lg" aria-hidden="true" th:if="${not #lists.contains(answerMap[question.id], choice.choiceid)}"></i>
                                            </label>
                                            <h3 style="display: inline;" th:text="${choice.content}">
                                                
                                            </h3>
                                        </div>
                                        <!-- 一个选项 --> 
                                    </div>
                                    <!-- 所有选项结束 -->
                                    
                                    <br>

                                    <!-- 参考答案+题目解析 -->
                                    <div class="marginLeftDiv">
                                        <blockquote>
                                            <h5>
                                                题目解析：
                                            </h5>
                                          <h4 th:text="${question.analysis}">
                                          </h4>
                                        </blockquote>
                                    </div>
                                    <!-- 参考答案+题目解析 -->

                                </div>
                                <!-- 选项部分结束 -->

                                </div>
                                <!-- 折叠区域结束 -->
                            </div>
                            <!-- 选项、答案部分结束 -->

                        </div>
                        <!-- 一道题主体内容结束 -->
                        <!-- 一道题结束 --> 
                    </div>
                    <!-- 一道题，包含标题、选项（参考答案），解析结束 -->


                    <!-- 多选题 -->
                    <!-- 一道题，包含标题、选项（参考答案），解析 -->
                    <div th:case="1">
                    <!-- <div th:each="question,questionStat: ${questionList}" th:switch="${question.typeid}" th:case="1" th:data-question-id="${question.id}"> -->
                       <!-- 一道题开始 -->
                        <!-- 一道题开头标题栏 -->
                        <div class="ibox-title">
                            
                            <h5>
                                多选题
                            </h5>
                            <span class="label label-primary" style="margin-left: 20px" th:if="${null != question.backup4}" th:text="${'知识点-'+question.backup4}">
                                知识点-java
                            </span>

                            <span class="label label-warning" style="margin-left: 20px" th:if="${0 == question.difflevel}">
                                易
                            </span>

                            <span class="label label-success" style="margin-left: 20px" th:if="${1 == question.difflevel}">
                                中
                            </span>

                            <span class="label label-danger" style="margin-left: 20px" th:if="${2 == question.difflevel}">
                                难
                            </span>

                        </div>
                        <!-- 一道题开头标题栏结束 -->

                        <!-- 一道题主体内容 -->
                        <div class="ibox-content">
                            <!-- 题干部分 -->
                            <div>
                                <h3>
                                <span th:text="${questionStat.count+'.'}">
                                    题号
                                </span>
                                    <a class="collapse_a" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_1" th:href="@{'#collapse_'+${question.id}}" aria-expanded="true" aria-controls="#collapse_1" th:aria-controls="@{'#collapse_'+${question.id}}" th:text="${question.description}">
                                    </a>
                                </h3> 
                            </div>
                            <!-- 题干部分结束 -->
                            
                            <!-- 选项、答案区域 -->
                            <div class="panel row">
                                
                                <!-- 折叠区域 -->
                                <div id="collapse_1" th:id="@{'collapse_'+${question.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_1">
                                <!-- 选项部分+参考答案+题目解析 -->
                                <div class="panel-body col-sm-4">
                                    
                                    <!-- 所有选项 -->
                                    <div class="marginLeftDiv">
                                        
                                        <!-- 一个选项 -->
                                        <div th:each="choice : ${choiceMap[question.id]}">
                                            <label class="control-label text-right">
                                                <i class="fa fa-dot-circle-o fa-lg" aria-hidden="true" th:if="${#lists.contains(answerMap[question.id], choice.choiceid)}" ></i>
                                                <i class="fa fa-circle-o fa-lg" aria-hidden="true" th:if="${not #lists.contains(answerMap[question.id], choice.choiceid)}"></i>
                                            </label>
                                            <h3 style="display: inline;" th:text="${choice.content}">
                                                
                                            </h3>
                                        </div>
                                        <!-- 一个选项 --> 
                                    </div>
                                    <!-- 所有选项结束 -->
                                    
                                    <br>

                                    <!-- 参考答案+题目解析 -->
                                    <div class="marginLeftDiv">
                                        <blockquote>
                                            <h5>
                                                题目解析：
                                            </h5>
                                          <h4 th:text="${question.analysis}">
                                          </h4>
                                        </blockquote>
                                    </div>
                                    <!-- 参考答案+题目解析 -->

                                </div>
                                <!-- 选项部分结束 -->

                                </div>
                                <!-- 折叠区域结束 -->
                            </div>
                            <!-- 选项、答案部分结束 -->

                        </div>
                        <!-- 一道题主体内容结束 -->
                        <!-- 一道题结束 --> 
                    </div>
                    <!-- 一道题，包含标题、选项（参考答案），解析结束 -->

                    <!-- 简答题 -->
                    <!-- 一道题，包含标题、选项（参考答案），解析 -->
                    <div th:case="2">
                    <!-- <div th:each="question,questionStat: ${questionList}" th:switch="${question.typeid}" th:case="2" th:data-question-id="${question.id}"> -->
                       <!-- 一道题开始 -->
                        <!-- 一道题开头标题栏 -->
                        <div class="ibox-title">
                            
                            <h5>
                                简答题
                            </h5>
                            <span class="label label-primary" style="margin-left: 20px" th:if="${null != question.backup4}" th:text="${'知识点-'+question.backup4}">
                                知识点-java
                            </span>

                            <span class="label label-warning" style="margin-left: 20px" th:if="${0 == question.difflevel}">
                                易
                            </span>

                            <span class="label label-success" style="margin-left: 20px" th:if="${1 == question.difflevel}">
                                中
                            </span>

                            <span class="label label-danger" style="margin-left: 20px" th:if="${2 == question.difflevel}">
                                难
                            </span>

                        </div>
                        <!-- 一道题开头标题栏结束 -->

                        <!-- 一道题主体内容 -->
                        <div class="ibox-content">
                            <!-- 题干部分 -->
                            <div>
                                <h3>
                                <span th:text="${questionStat.count+'.'}">
                                    题号
                                </span>
                                    <a class="collapse_a" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_1" th:href="@{'#collapse_'+${question.id}}" aria-expanded="true" aria-controls="#collapse_1" th:aria-controls="@{'#collapse_'+${question.id}}" th:text="${question.description}">
                                    </a>
                                </h3> 
                            </div>
                            <!-- 题干部分结束 -->
                            
                            <!-- 选项、答案区域 -->
                            <div class="panel row">
                                
                                <!-- 折叠区域 -->
                                <div id="collapse_1" th:id="@{'collapse_'+${question.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_1">
                                <!-- 选项部分+参考答案+题目解析 -->
                                <div class="panel-body col-sm-4">
                                    
                                    <!-- 参考答案 -->
                                    <div class="marginLeftDiv">
                                        <blockquote>
                                            <h5>
                                                参考答案：
                                            </h5>
                                          <h4 th:text="${question.answer}">
                                          </h4>
                                        </blockquote>
                                    </div>
                                    <!-- 参考答案 -->

                                    <br>

                                    <!-- 题目解析 -->
                                    <div class="marginLeftDiv">
                                        <blockquote>
                                            <h5>
                                                题目解析：
                                            </h5>
                                          <h4 th:text="${question.analysis}">
                                          </h4>
                                        </blockquote>
                                    </div>
                                    <!-- 题目解析 -->

                                </div>
                                <!-- 选项部分结束 -->

                                </div>
                                <!-- 折叠区域结束 -->
                            </div>
                            <!-- 选项、答案部分结束 -->

                        </div>
                        <!-- 一道题主体内容结束 -->
                        <!-- 一道题结束 --> 
                    </div>
                    <!-- 一道题，包含标题、选项（参考答案），解析结束 -->
                    

                    </div>
                </div>
            </div>
        </div>

    </div>


    <script src="../bank/js/jquery-2.2.4.js" th:src="@{static/bank/js/jquery-2.2.4.js}"></script>
    <script src="../bank/js/bootstrap.min.js" th:src="@{static/bank/js/bootstrap.min.js}"></script>
    <script src="../bank/js/content.min.js" th:src="@{static/bank/js/content.min.js}"></script>
    <script src="../bank/js/showQuestion.js" th:src="@{static/bank/js/showQuestion.js}"></script>

    <input id="initCache" type="hidden" th:value="${bankList}"/>
</body>

</html>
