<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>牛X考试平台-分享中心</title>
    <meta name="keywords" content="牛X测试平台,老师在线创建题库、在线创建试卷、邮件邀请学生考试">
    <meta name="description" content="牛X测试平台是一个完全响应式，基于Bootstrap3最新版本开发的扁平化平台，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">

    <link href="favicon.ico" th:href="@{static/pages/favicon.ico}" rel="shortcut icon"> 
    <link href="../bank/css/bootstrap.min.css" th:href="@{static/bank/css/bootstrap.min.css}" rel="stylesheet">
    <link href="../bank/css/font-awesome.min.css" th:href="@{static/bank/css/font-awesome.min.css}" rel="stylesheet">

    <link href="../bank/css/animate.min.css" th:href="@{static/bank/css/animate.min.css}" rel="stylesheet">
    <link href="../bank/css/style.min.css" th:href="@{static/bank/css/style.min.css}" rel="stylesheet">

</head>

<body class="gray-bg">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>我的分享</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="mybankhomepage.html" th:href="@{static/pages/mybankhomepage.html}">主页</a>
                </li>
                <li>
                    <strong>我的分享</strong>
                </li>
            </ol>
        </div>
        <!-- <div class="col-sm-8">
            <div class="title-action">
                <a href="empty_page.html" class="btn btn-primary">活动区域</a>
            </div>
        </div> -->
    </div>

    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="middle-box text-center animated fadeInRightBig">
                    <h3 class="font-bold">这里是我的分享页面</h3>

                    <div class="error-desc">
                        我可以在这里查看我的分享以及分享给我的
                        <!-- <br/><a href="#" class="btn btn-primary m-t">打开主页</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="../bank/js/jquery.min.js" th:src="@{static/bank/js/jquery.min.js}"></script>
    <script src="../bank/js/bootstrap.min.js" th:src="@{static/bank/js/bootstrap.min.js}"></script>
    <script src="../bank/js/content.min.js" th:src="@{static/bank/js/content.min.js}"></script>
    
</body>

</html>
