<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neuedu.web02.dao.ExamMapper" >
  <resultMap id="BaseResultMap" type="com.neuedu.web02.entity.Exam" >
    <id column="examid" property="examid" jdbcType="INTEGER" />
    <result column="examname" property="examname" jdbcType="VARCHAR" />
    <result column="examdate" property="examdate" jdbcType="TIMESTAMP" />
    <result column="paperid" property="paperid" jdbcType="INTEGER" />
    <result column="activecode" property="activecode" jdbcType="VARCHAR" />
    <result column="backup1" property="backup1" jdbcType="VARCHAR" />
    <result column="backup2" property="backup2" jdbcType="INTEGER" />
    <result column="backup3" property="backup3" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    examid, examname, examdate, paperid, activecode, backup1, backup2, backup3
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.neuedu.web02.entity.ExamExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from exam
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from exam
    where examid = #{examid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from exam
    where examid = #{examid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.neuedu.web02.entity.ExamExample" >
    delete from exam
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.neuedu.web02.entity.Exam" >
    insert into exam (examid, examname, examdate, 
      paperid, activecode, backup1, 
      backup2, backup3)
    values (#{examid,jdbcType=INTEGER}, #{examname,jdbcType=VARCHAR}, #{examdate,jdbcType=TIMESTAMP}, 
      #{paperid,jdbcType=INTEGER}, #{activecode,jdbcType=VARCHAR}, #{backup1,jdbcType=VARCHAR}, 
      #{backup2,jdbcType=INTEGER}, #{backup3,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.neuedu.web02.entity.Exam" >
    insert into exam
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="examid != null" >
        examid,
      </if>
      <if test="examname != null" >
        examname,
      </if>
      <if test="examdate != null" >
        examdate,
      </if>
      <if test="paperid != null" >
        paperid,
      </if>
      <if test="activecode != null" >
        activecode,
      </if>
      <if test="backup1 != null" >
        backup1,
      </if>
      <if test="backup2 != null" >
        backup2,
      </if>
      <if test="backup3 != null" >
        backup3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="examid != null" >
        #{examid,jdbcType=INTEGER},
      </if>
      <if test="examname != null" >
        #{examname,jdbcType=VARCHAR},
      </if>
      <if test="examdate != null" >
        #{examdate,jdbcType=TIMESTAMP},
      </if>
      <if test="paperid != null" >
        #{paperid,jdbcType=INTEGER},
      </if>
      <if test="activecode != null" >
        #{activecode,jdbcType=VARCHAR},
      </if>
      <if test="backup1 != null" >
        #{backup1,jdbcType=VARCHAR},
      </if>
      <if test="backup2 != null" >
        #{backup2,jdbcType=INTEGER},
      </if>
      <if test="backup3 != null" >
        #{backup3,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.neuedu.web02.entity.ExamExample" resultType="java.lang.Integer" >
    select count(*) from exam
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update exam
    <set >
      <if test="record.examid != null" >
        examid = #{record.examid,jdbcType=INTEGER},
      </if>
      <if test="record.examname != null" >
        examname = #{record.examname,jdbcType=VARCHAR},
      </if>
      <if test="record.examdate != null" >
        examdate = #{record.examdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.paperid != null" >
        paperid = #{record.paperid,jdbcType=INTEGER},
      </if>
      <if test="record.activecode != null" >
        activecode = #{record.activecode,jdbcType=VARCHAR},
      </if>
      <if test="record.backup1 != null" >
        backup1 = #{record.backup1,jdbcType=VARCHAR},
      </if>
      <if test="record.backup2 != null" >
        backup2 = #{record.backup2,jdbcType=INTEGER},
      </if>
      <if test="record.backup3 != null" >
        backup3 = #{record.backup3,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update exam
    set examid = #{record.examid,jdbcType=INTEGER},
      examname = #{record.examname,jdbcType=VARCHAR},
      examdate = #{record.examdate,jdbcType=TIMESTAMP},
      paperid = #{record.paperid,jdbcType=INTEGER},
      activecode = #{record.activecode,jdbcType=VARCHAR},
      backup1 = #{record.backup1,jdbcType=VARCHAR},
      backup2 = #{record.backup2,jdbcType=INTEGER},
      backup3 = #{record.backup3,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.neuedu.web02.entity.Exam" >
    update exam
    <set >
      <if test="examname != null" >
        examname = #{examname,jdbcType=VARCHAR},
      </if>
      <if test="examdate != null" >
        examdate = #{examdate,jdbcType=TIMESTAMP},
      </if>
      <if test="paperid != null" >
        paperid = #{paperid,jdbcType=INTEGER},
      </if>
      <if test="activecode != null" >
        activecode = #{activecode,jdbcType=VARCHAR},
      </if>
      <if test="backup1 != null" >
        backup1 = #{backup1,jdbcType=VARCHAR},
      </if>
      <if test="backup2 != null" >
        backup2 = #{backup2,jdbcType=INTEGER},
      </if>
      <if test="backup3 != null" >
        backup3 = #{backup3,jdbcType=INTEGER},
      </if>
    </set>
    where examid = #{examid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.neuedu.web02.entity.Exam" >
    update exam
    set examname = #{examname,jdbcType=VARCHAR},
      examdate = #{examdate,jdbcType=TIMESTAMP},
      paperid = #{paperid,jdbcType=INTEGER},
      activecode = #{activecode,jdbcType=VARCHAR},
      backup1 = #{backup1,jdbcType=VARCHAR},
      backup2 = #{backup2,jdbcType=INTEGER},
      backup3 = #{backup3,jdbcType=INTEGER}
    where examid = #{examid,jdbcType=INTEGER}
  </update>
</mapper>